* {
    box-sizing: border-box;    /* sets how the total width and height of an element is calculated */
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: black;
    font-family: "open sans", sans-serif;
    font-optical-sizing: auto;    /* text rendering is optimized for viewing at different sizes */
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "nunito sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
}

h1 {
    margin-bottom: 30px;    
}

h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px 0;
}

/* Container */
.container {
    text-align: center;
    max-width: 1088px;
    margin-left: auto;
    margin-right: auto;
}


/* Hero */
.hero {
    height: 100vh;
    display: grid;
    flex-direction: column;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url(../images/hero-bg.png) center/cover no-repeat;
}

.hero__content {
    background-color: rgb(255, 192, 203);
    flex-grow: 1;
    color: white;
    font-family: nunito sans, sans-serif;
    font-optical-sizing: auto;
    display: grid;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.hero__title {
    font-weight: 900;
    font-size: 90px;
    text-transform: uppercase;
}

.hero__desription {
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}

.hero__button {
    margin-top: 50px;
}

.hero__blog {
    height: 707px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
 
   
}

.header {
    height: 90px;
    background-color: #00000066;
}

.header .container {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    color: white;
    align-items: center;
    margin-left: 10px;
}

.logo__text span {
    color: red;
}

.logo__text {
    font-family: "nunito sans", sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 1;
}

.logo__icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu {
    display: flex;
}


.menu__link {
    display: inline-block;

    padding: 37px 40px;
    font-family: "nunito sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.menu__link:hover {
    background-color: #ffffff33;
}