.button {
    display: inline-block;
    padding: 11px 29px;
    background: #ff0000;
    border: #ff0000 1px solid;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "nunito sans", sans-serif;
    font-weight: 700;
    border-radius: 500px;
    /*nastavi radius na maximalni velikost*/
    font-size: 14px;
    box-shadow: 0 3px 6px black;
}

.button--big {
    /* modifikatory piseme vzdy za block/rodic */
    font-size: 16px;
    padding: 22px 55px;
    margin: 0px 10px;
}

.button--outline {
    background: white;
    color: red;

}